.Arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.813rem;
    height: 1.813rem;
    border-radius: 6px;
    background-color: var(--color-secondary);
    border: none;
    transition: 500ms opacity;
}
.Arrow > svg {
    fill: var(--color-primary);
}
.Arrow:disabled {
    opacity: .4;
}
.Arrow:focus {
    outline: none;
}

.Arrow-left {
    transform: rotate(90deg);
}

.Arrow-up {
    transform: rotate(180deg);
}