.Experience-imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background: var(--color-quaternary);
    box-shadow: var(--light-box-shadow);
}

.Experiences {
    margin-top: 4rem;
    flex-basis: 100%;
}

.Experience {
    display: grid;
    grid-template-columns: 1fr 5.5rem;
}
.Experience:not(:first-child) {
    margin-top: 2.75rem;
}

.Experience-name {
    margin-top: 0.188rem;
}

.Experience-description {
    margin-top: 1.25rem;
    margin-bottom: 1.625rem;
}

.Experience-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-right: 2.125rem;
    padding: 1.063rem;
    background: var(--color-quaternary);
    box-shadow: var(--light-box-shadow);
    border-radius: 3px;
}

.Experience-image {
    display: block;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/* Animation */

.Experience {
    transition-property: opacity, transform;
    transition-timing-function: ease-out;
    transition-delay: calc(var(--index) * var(--animation-delay));
    transition-duration: var(--animation-duration-normal);

    transform: translateX(30px);
    opacity: 0;
}
.Experience-animation-enter-done {
    transform: translateX(0);
    opacity: 1;
}

/* Responsive */

.App-phone .Experience {
    grid-template-columns: 1fr 3.5rem;
}
.App-phone .Experience-imageContainer {
    height: 3.5rem;
    width: 3.5rem;
}