.Interest {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
}
.Interest:not(:last-child) {
    margin-bottom: 1.563rem;
}

.Interest-imageWrapper {
    width: 3.938rem;
    height: 3.938rem;
    margin-right: 2rem;
    overflow: hidden;
    border-radius: 50%;
    border: solid 1px var(--color-primary);
}

.Interest-image {
    width: 100%;
    height: 100%;
    background-color: var(--color-quaternary);
    object-fit: cover;
}

.Interest-data {
    display: flex;
    flex-direction: column;
}

.Interest-title {
    margin-bottom: 0.313rem;
}

/* Animation */

.Interest {
    opacity: 0;
    transition-timing-function: ease-out;
    transition-delay: calc(var(--index) * var(--animation-delay));
    transition-duration: var(--animation-duration-normal);
    transition-property: opacity;
}
.Interest-animation-enter {
    opacity: 0;
}
.Interest-animation-enter {
    opacity: 0;
}
.Interest-animation-enter-done {
    opacity: 1;
}